   <template name="entry">
   <head>
        <title>Repair Log</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <script src="functions.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="assets/js/entry_scripts.js"></script>
        <script type="text/javascript"></script>
        <script>
            $(function() {
              $( "#datepicker" ).datepicker();
            });
        </script>
    </head>
    <body>  
        <h2>Week of: 1/26/2015 </h2>
        <div id="centered_box">
            <input type="hidden" id="updated"/>
            <input type="hidden" id="logged"/>
            <span style="float:right;" id="countdown"></span><br/>
            <form onsubmit='return checkForm()' action="results.php" method="POST" class="workcenterSelection">
                For replog_1004:<input type='hidden' name='machine' value ='replog_1004'/>                <br/><br/>
                <table>
                    <tr>
                        <td>Date: <input type='text' id='datepicker' name='date' /></td>
                        <td>
                           
                                Action Type:
                                <select name="action_type_form">
                                  <option value="">Select...</option>
                                  <option value="Repair">Repair</option>
                                  <option value="PM">PM</option>
                                </select>
                            
                        </td>
                        <td>
                            Tech:
                                <select name="tech_name_form">
                                    <option value="">Select...</option>
                                        <option value="John Cruse">John Cruse</option><option value="Sherrill Furr">Sherrill Furr</option><option value="Randy Cook">Randy Cook</option><option value="Doug Edwards">Doug Edwards</option><option value="Ron Tyo">Ron Tyo</option><option value="Doug Croft">Doug Croft</option><option value="Andrew Tarnate">Andrew Tarnate</option><option value="Eric Scroggs">Eric Scroggs</option><option value="Eric Kazan">Eric Kazan</option><option value="John Cruse">John Cruse</option><option value="Sherrill Furr">Sherrill Furr</option><option value="Randy Cook">Randy Cook</option><option value="Doug Edwards">Doug Edwards</option><option value="Ron Tyo">Ron Tyo</option><option value="Doug Croft">Doug Croft</option><option value="Andrew Tarnate">Andrew Tarnate</option><option value="Eric Scroggs">Eric Scroggs</option><option value="Eric Kazan">Eric Kazan</option>                                </select>
                        </td>
                        <td>Hours: <input type='number' id='hours' name='hours' /></td>
                        <td>Estimated Cost $: <input type='number' id='cost' name='cost' /></td>
                    </tr>
                    
                </table>

                <table>
                    <tr>
                        <td>Description:<br/> <textarea name='desc' id='desc' rows="6"></textarea><br/></td>
                    </tr>
                </table>

                <input type='submit' name ='enter' id='enter' value='ENTER' />
            </form>
        </div>
        <!--popup for if the machine is put into manual -->
<div id="inmanual">
    <div>
    <p>Reason for switching to manual:
	<form action="process.php" method="POST">
	<select id="reason" name="reason" >
	<option name="reason" value="maintenance">Maintenance</option>
	<option name="reason" value="weekend shutdown">Weekend Shutdown</option>
	<option name="reason" value="running special job">Special Job</option>
	<option name="reason" value="other">Other</option>
	</select> 
	<input type="submit" value="submit"/>
	</form>
  </p>
    </div>
</div>

<!--popup for if the machine is running slow -->
<div id="slow">
    <div>
    <p>Why was this machine not running at cycle:
      	<form action="process.php" method="POST">
      	<select id="reason" name="reason" >
        <option name="reason" value="Shorts">Shorts</option>
        <option name="reason" value="Mold Issue">Mold Issue</option>
        <option name="reason" value="Maint Issue">Maint Issue</option>
        <option name="reason" value="Sinks">Sinks</option>
        <option name="reason" value="Burns">Burns</option>
        <option name="reason" value="Blisters">Blisters</option>
        <option name="reason" value="Sticking">Sticking</option>
        <option name="reason" value="Flash">Flash</option>
        <option name="reason" value="Contamination">Contamination</option>
        <option name="reason" value="Warp">Warp</option>
        <option name="reason" value="Pin Marks">Pin Marks</option>
        <option name="reason" value="Streaking">Streaking</option>
        <option name="reason" value="Splay">Splay</option>
        <option name="reason" value="Blush">Blush</option>
      	</select> 
      	<input type="submit" value="submit"/>
      	</form>
        </p>
    </div>
</div>

<!--popup for if they need to page a technician. Give option for Tech 1 or 2 -->
 <div id="techalert">
     <div>
	 Select which technichan you'd like to page <br/><br/>
<a href="javascript:page('tech1')">Tech 1</a>&nbsp;&nbsp;&nbsp;<a href="javascript:page('tech2')">Tech 2</a>
     </div>
</div>

 <!--display if page was sent successfully or not -->
 <div id="confirm">
     <div id="message">
     </div>
</div>    </body>

</template>