<template name="table">
   <head>
<title>new job</title>
</head>

<body>



  <div id="right">
    <div id="wrap">
    
  
      <form name="myForm" onsubmit="return validateForm()" method="post" class="workcenterSelection">
      <table>
        <tr>
      <td> Work Center: {{>workcenter}}</td>
      </tr> 
        <tr>
        <td>Part number:</td>
        <td>  
          <div class="form-group">
            <label for="partnumber"></label>
            {{>partnumber}}
            <!-- <input type="partnumber" name="partnumber" required class="form-control" id="partnumber"  placeholder="Enter Part number"> -->
          </div>
        </td>
        </tr>
        <tr>
        <td colspan="2"><span id="project-id"></span>
        </td>
        </tr>
        <tr>
        <td>Initials:</td> <td> 
          <div class="form-group">
            <label for="initials"></label>
            <input type="initials" name="initials" required class="form-control" id="initials" placeholder="Enter Initials">
          </div>
          </td>
        </tr>
        <tr>
        <td>Quantity:</td> <td> 
          <div class="form-group">
            <label for="quantity"></label>
            <input type="quantity" name="quantity" required class="form-control" id="quantity" placeholder="Enter Quantity">
          </div>
          </td>
        </tr>
        <tr>
        <td>Cavitation:</td> <td> 
          <div class="form-group">
            <label for="cavitation"></label>
            <input type="cavitation" name="cavitation" required class="form-control" id="cavitation" placeholder="Enter Cavitation">
          </div>
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td colspan="2">
            <div class="checkbox">
              <label>
                  <input  name = "checkbox" required type="checkbox" value="check"> By checking this box I verify that I have completed the following:
                 <!--  <input type="submit" name="email_submit" value="submit" onclick="if(!this.form.checkbox.checked){alert('Please check the check box.');return false}"  /> -->
              </label>

            </div> 
            <ul>
              <li>Process verification</li>
              <li>1st piece inspection</li>
              <li>Mold protection verification</li>
            </ul>
          </td>
        </tr>
      </table>
      
       <button type="submit" class="btn btn-default" onclick="alert('Make sure the machine is in Automatic before continuing')">Select</button>
      <!-- <input type="submit" value="Submit" class="btn btn-primary"/> -->

      </form>
<!-- <button type="submit" class="btn btn-default" onclick="alert('Make sure the machine is in Automatic before continuing');">Enter</button> 

 -->
<!-- <input type='button' onclick='checkForm()' value='Enter' /> -->

    </div>
  </div>
</body>


</template>