<!--When a job is started this is shown to allow the user to select the machine number to begin with -->
<template name="andy">
   <link href="style.css" rel="stylesheet" type="text/css">
  
  	
	<!-- Basically this part presents a form that is populated by a machinenumber template	-->		  
<h3>Assign a Machine:</h3>

<form class="workcenterSelection">
<select class="form-control" id="someId">

<option value="{{entry1}}">{{entry1}}</option>
<option value="{{entry2}}">{{entry2}}</option>
</select>
<button type="submit" class="btn btn-default">Select</button>
</form>

	
</template>
  
			

			
				
				 
				


				
			
			
