<template name="links">


  <head> 
    <title>links</title>

      <script src="functions.js"></script> 
      <script type="text/javascript">

      if(getCookie("inprog") == "yes" && getCookie("jobcomplete") == "no"){
      	setInterval("countdown2()", 1000);
      }

      setInterval( "pollServer2()", 3000 );
      </script>

    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
      <div id="wrap">
        <input type="hidden" id="logged"/>
        <span style="float:right;" id="countdown"></span><br/>
          <a href="SWI.php">SWI</a><br/><br/>
          <a href="IR.php">IR</a><br/><br/>
          <a href="setupsheets.php">Process setup sheet</a><br/><br/>
          <a href="changelog.php">Process change log</a><br/><br/>
          <a href="{{pathFor 'eqrepairlog'}}">Equipment repair log</a><br/><br/>
      
    </div>
   
  <!--popup for if the machine is put into manual -->
    
  <div id="inmanual">
      <div>
      <p>Reason for switching to manual:
      	<form action="process.php" method="POST">
        	<select id="reason" name="reason" >
        	<option name="reason" value="maintenance">Maintenance</option>
        	<option name="reason" value="weekend shutdown">Weekend Shutdown</option>
        	<option name="reason" value="running special job">Special Job</option>
        	<option name="reason" value="other">Other</option>
        	</select>
      	</form>

        </p>
      	<input type="submit" value="submit"/>
  	 
      </div>
  </div>

  <!--popup for if the machine is running slow -->
    
  <div id="slow">
      <div>
      <p>Why was this machine not running at cycle:
    	<form action="process.php" method="POST">
      	<select id="reason" name="reason" >
          <option name="reason" value="Shorts">Shorts</option>
          <option name="reason" value="Mold Issue">Mold Issue</option>
          <option name="reason" value="Maint Issue">Maint Issue</option>
          <option name="reason" value="Sinks">Sinks</option>
          <option name="reason" value="Burns">Burns</option>
          <option name="reason" value="Blisters">Blisters</option>
          <option name="reason" value="Sticking">Sticking</option>
          <option name="reason" value="Flash">Flash</option>
          <option name="reason" value="Contamination">Contamination</option>
          <option name="reason" value="Warp">Warp</option>
          <option name="reason" value="Pin Marks">Pin Marks</option>
          <option name="reason" value="Streaking">Streaking</option>
          <option name="reason" value="Splay">Splay</option>
          <option name="reason" value="Blush">Blush</option>
      	</select> </form></p>
    	<input type="submit" value="submit"/>
  	
      </div>
  </div>

  <!--popup for if they need to page a technician. Give option for Tech 1 or 2 -->
    
     <div id="techalert">
         <div>
    	      Select which technichan you'd like to page <br/><br/>
            <a href="javascript:page('tech1')">Tech 1</a>&nbsp;&nbsp;&nbsp;<a href="javascript:page('tech2')">Tech 2</a>
         </div>
    </div>

   <!--display if page was sent successfully or not -->
       
     <div id="confirm">
         <div id="message">
         </div>
    </div></body>





</template>