<template name="jobstatus5">
<!-- change the div to a button-->
{{#if statusgreen}}
     <button id="statusgreen"  class="rectangle "> 

        <span class="label">{{workcenter}} </span><br>
        <span class="label">At or</span><br>
        <span class="label">above</span><br>
        <span class="label">cycle</span>
     </button>
  
    
 {{else}}
 {{#if statusyellow}}
     <button id="statusyellow"  class="rectangle"> 

        <span class="label">{{workcenter}}</span><br>
        <span class="label">Below</span><br>
        <span class="label">cycle</span>
     </button>
      {{else}}

     <button id="statuswhite" class="rectangle"> 

       <span class="label">{{workcenter}} </span><br>
        <span class="label">Idle</span>
     </button>

 
     {{/if}}
    {{/if}}
</template>