<template name="output5">
<head>
    
    <!-- <script src="parts.js"></script>-->
   
</head>
       <div id="wrap"> 
       
        
       
           <table class="parts" id="table2excel" width ="3000" cellpadding="0" border="0" align="center" cellspacing="0">
      
      <th>Hour  </th><th>Part #</th><th>Planned</th><th>Actual</th><th>Earned Hours</th><th>Start</th><th>Finish</th><th>Date</th><th>Job</th>
      <tr><td>1</td> <td>{{partnumber1}} </td> <td>{{planned1}} </td><td>{{actual1}}</td><td> {{earnedhours1}} </td><td> {{start}} </td><td> {{finish}} </td><td> {{date}} </td><td>{{job1}} </td>
    </tr>
     <tr><td>2</td> <td>{{partnumber2}} </td> <td>{{planned2}} </td><td>{{actual2}}</td><td> {{earnedhours2}} </td><td> </td><td> </td><td> </td><td>{{job2}} </td>
    </tr>
     <tr><td>3</td> <td>{{partnumber3}} </td> <td>{{planned3}} </td><td>{{actual3}}</td><td> {{earnedhours3}} </td><td> </td><td> </td><td> </td><td>{{job3}} </td>
    </tr>
     <tr><td>4</td> <td>{{partnumber4}} </td> <td>{{planned4}} </td><td>{{actual4}}</td><td> {{earnedhours4}} </td><td> </td><td> </td><td> </td><td>{{job4}} </td>
    </tr>
     <tr><td>5</td> <td>{{partnumber5}} </td> <td>{{planned5}} </td><td>{{actual5}}</td><td> {{earnedhours5}} </td><td> </td><td> </td><td> </td><td> {{job5}} </td>
    </tr>
     <tr><td>6</td> <td>{{partnumber6}} </td> <td>{{planned6}} </td><td>{{actual6}}</td><td> {{earnedhours6}} </td><td> </td><td> </td><td> </td><td>{{job6}} </td>
    </tr>
     <tr><td>7</td> <td>{{partnumber7}} </td> <td>{{planned7}} </td><td>{{actual7}}</td><td> {{earnedhours7}} </td><td> </td><td> </td><td> </td><td>{{job7}} </td>
    </tr>
     <tr><td>8</td> <td>{{partnumber8}} </td> <td>{{planned8}} </td><td>{{actual8}}</td><td> {{earnedhours8}} </td><td> </td><td> </td><td> </td><td>{{job8}} </td>
    </tr>
     <tr><td>9</td> <td>{{partnumber9}} </td> <td>{{planned9}} </td><td>{{actual9}}</td><td> {{earnedhours9}} </td><td> </td><td> </td><td> </td><td>{{job9}} </td>
    </tr>
     <tr><td>10</td> <td>{{partnumber10}} </td> <td>{{planned10}} </td><td>{{actual10}}</td><td> {{earnedhours10}} </td><td> </td><td> </td><td></td><td>{{job10}} </td>
    </tr>
     <tr><td>11</td> <td>{{partnumber11}} </td> <td>{{planned11}} </td><td>{{actual11}}</td><td> {{earnedhours11}} </td><td> </td><td> </td><td></td><td>{{job11}} </td>
    </tr>
     <tr><td>12</td> <td>{{partnumber12}} </td> <td>{{planned12}} </td><td>{{actual12}}</td><td> {{earnedhours12}} </td><td> </td><td> </td><td></td><td>{{job12}} </td>
    </tr>
     <tr><td>13</td> <td>{{partnumber13}} </td> <td>{{planned13}} </td><td>{{actual13}}</td><td> {{earnedhours13}} </td><td> </td><td> </td><td></td><td>{{job13}} </td>
    </tr>
     <tr><td>14</td> <td>{{partnumber14}} </td> <td>{{planned14}} </td><td>{{actual14}}</td><td> {{earnedhours14}} </td><td> </td><td> </td><td></td><td>{{job14}} </td>
    </tr>
     <tr><td>15</td> <td>{{partnumber15}} </td> <td>{{planned15}} </td><td>{{actual15}}</td><td> {{earnedhours15}} </td><td> </td><td> </td><td></td><td>{{job15}} </td>
    </tr>
     <tr><td>16</td> <td>{{partnumber16}} </td> <td>{{planned16}} </td><td>{{actual16}}</td><td> {{earnedhours16}} </td><td> </td><td> </td><td></td><td>{{job16}} </td>
    </tr>
     <tr><td>17</td> <td>{{partnumber17}} </td> <td>{{planned17}} </td><td>{{actual17}}</td><td> {{earnedhours17}} </td><td> </td><td> </td><td></td><td>{{job17}} </td>
    </tr>
     <tr><td>18</td> <td>{{partnumber18}} </td> <td>{{planned18}} </td><td>{{actual18}}</td><td> {{earnedhours18}} </td><td> </td><td> </td><td></td><td>{{job18}} </td>
    </tr>
     <tr><td>19</td> <td>{{partnumber19}} </td> <td>{{planned19}} </td><td>{{actual19}}</td><td> {{earnedhours19}} </td><td> </td><td> </td><td></td><td>{{job19}} </td>
    </tr>
     <tr><td>20</td> <td>{{partnumber20}} </td> <td>{{planned20}} </td><td>{{actual20}}</td><td> {{earnedhours20}} </td><td> </td><td> </td><td></td><td>{{job20}} </td>
    </tr>
     <tr><td>21</td> <td>{{partnumber21}} </td> <td>{{planned21}} </td><td>{{actual21}}</td><td> {{earnedhours21}} </td><td> </td><td> </td><td></td><td>{{job21}} </td>
    </tr>
     <tr><td>22</td> <td>{{partnumber22}} </td> <td>{{planned22}} </td><td>{{actual22}}</td><td> {{earnedhours22}} </td><td> </td><td> </td><td></td><td>{{job22}} </td>
    </tr>
     <tr><td>23</td> <td>{{partnumber23}} </td> <td>{{planned23}} </td><td>{{actual23}}</td><td> {{earnedhours23}} </td><td> </td><td> </td><td></td><td>{{job23}} </td>
    </tr>
    <tr><td>24</td> <td>{{partnumber24}} </td> <td>{{planned24}} </td><td>{{actual24}}</td><td> {{earnedhours24}} </td><td> </td><td> </td><td></td><td>{{job24}} </td>
    </tr>
     
     
    
     
    
   
      

   </table>
   </div>
   
  <form action="{{pathFor 'input'}}"><span style="float:left;">
  <button class="btn btn-default " type="submit">Query page</button> </span> </form>
      <form action="{{pathFor 'output'}}"><span style="float:left;">
  <button class="btn btn-default " type="submit">Page 1</button> </span> </form> 
<form action="{{pathFor 'output2'}}"><span style="float:left;">
  <button class="btn btn-default " type="submit">Page 2</button> </span> </form> 
  <form action="{{pathFor 'output3'}}"><span style="float:left;">
  <button class="btn btn-default " type="submit">Page 3</button> </span> </form> 
</template>