body{
    font-family: verdana,arial,sans-serif;
    margin: 0; 
    padding: 0;
	background: #999999;
	color: #ffffff;
	font-weight: 300;
	height: 100%;
}
.form-control
{
width:200px;


}
.modal-header
{
    color:black;
}
.modal-content {
  color: black;
}
.modal-body
{
    color:black;
}
.container {
    width: 100%;
}
.label
{
text-align: center;
font-size: 120% ;
color: black;
}

#lefttab
{

padding-left:30.5em;
}
#leftcircletab
{

padding-left:23em;
}
#leftdoubletab
{

padding-left:48em;
}
#tabspace
{

padding-left:5em;
}
#minitabspace
{

padding-left:5em;
}
#time
{

font-size: 150% ;

}
.rectangle {
    width: 60px;
    height: 120px;
   text-align: left;
}
#eh { text-align: center; }

.item {
    width: 4%;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    margin-right: 2px;
    float: left;
    display: block;
    height: 30px;
}

.filled {
    background-color: #00FFFF !important;
}
table{
  width: 100%;
    font-size: 20px;
cellspacing:0;
cellpadding:0;

 border-collapse: collapse;
  border-spacing: 0;
border-spacing: 0;
}

#machinenumber
{

  color:black;
}
table#parts
{
cellspacing:0;
cellpadding:0;

 border-collapse: collapse;
  border-spacing: 0;
border-spacing: 0;
}
table.parts
{

width:"3000";
cellspacing:0;
cellpadding:0;

 border-collapse: collapse;
  border-spacing: 0;
border-spacing: 0;


}
table th{ 
	cellspacing:0;
cellpadding:0;

 border-collapse: collapse;
  border-spacing: 0;
border-spacing: 0;
        font-size: 15px;
}
table td{
    cellspacing:0;
cellpadding:0;

 border-collapse: collapse;
  border-spacing: 0;
border-spacing: 0;
}

table.display{
    border-collapse: separate;
    border-spacing: 3px 0px;
    font-size: 20px;
	text-align: center;
}

table.display th{ 
	padding: 5px;
	text-align: center;
}

table.display td{ 
	padding: 5px;
	width: 3%;
	border-bottom:#222222 1px solid;
}

table.display tr{ 
	padding: 5px;
}

a:link, a:visited{
color: #FFA07A;
text-decoration: none;
text-shadow: 0.1em 0.1em 0.05em #000;
font-size: 30px;

}
a:active{
color: #FF7256;
text-decoration: none;
text-shadow: 0.1em 0.1em 0.05em #000;


}

a.nav:link, a.nav:visited{
    font-size:xx-large;
    position: relative;
	display: block;
	height: 3%;
	border-bottom: #333333 1px solid;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding-top: 15%;
    padding-bottom: 15%;
	padding-left: 15%;
    font-size: 150%;
}
a.nav:active{
   font-size:xx-large;
    position: relative;
	display: block;
	background: #333333;
	height: 3%;
	border-bottom: #333333 1px solid;
    outline: none;
    color: #000000;
    text-decoration: none;
	text-transform: uppercase;
    letter-spacing: 1px;
	padding-top: 15%;
    padding-bottom: 15%;
	padding-left: 15%;
    font-size: 150%;
}

textarea{
	width: 100%;
}

#centered_box{
    background: #666666;
	padding: 2%;
    box-shadow: 5px 5px 15px #888888;
}

#container{
	padding: 15px;
	margin-right: 10%;
}
#repairlog_container{
	padding: 15%;
	margin-left:10%;
	margin-right: 10%;
	margin-top:5%;
}

#status{
	border:#222222 1px solid;
    overflow: hidden;
    box-shadow: 5px 5px 15px #888888;
	font-size: 10px;
	padding: 1%;
}

#left{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	height:100%;
	background: #000000;
	width:17%;
}
#right{
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 17%;
	right:0;
	bottom: 0;
	padding: 2%;
}
.progresslabel {
    font-family: "Arial";
	color: #000000;
    position: relative;
	top: -14px;
	left: 5%;
    font-size: 10px;
}
input[type="button"]{ 
	font-size: 10px;
	border: #333333 1px solid;
	background: #c2c2c2;
	padding: 1%;
	box-shadow: 0px 5px 6px #222222;
}
input[type="button"]:disabled{
	background:#dddddd;
} 
input[type="button"]:active{
	margin-top: 2px;
	box-shadow: none;
} 
input[type="submit"]{ 
	font-size: 10px;
	border: #333333 1px solid;
	background: #c2c2c2;
	padding: 1%;
	box-shadow: 0px 5px 6px #222222;
}
input[type="submit"]:disabled{
	background:#dddddd;
} 
input[type="submit"]:active{
	margin-top: 2px;
	box-shadow: none;
} 

progress {
    -webkit-appearance: progress-bar;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: -0.2em;
	width: 100%;
	height: 20px;
}

#inmanual {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
background: rgba(47, 47, 47, .5);
}

#inmanual div {
     width:300px;
     margin: 100px auto;
     background-color: #222222;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#slow {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
background: rgba(47, 47, 47, .5);
}

#slow div {
     width:300px;
     margin: 100px auto;
     background-color: #222222;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#techalert {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
background: rgba(47, 47, 47, .5);
}

#techalert div {
     width:300px;
     margin: 100px auto;
     background-color: #222222;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#confirm {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
background: rgba(47, 47, 47, .5);
}

#confirm div {
     width:300px;
     margin: 100px auto;
     background-color: #222222;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

#submit_button{
	margin-right: 30px;
}

#submit_buttons {
    margin-top: 30px;
    margin-right: 30px;
}

#machine {
    display:block;
    margin-top: 10px;
    margin-bottom: 15px;
}