<template name="job">
<head>
    <title>Index</title>
    <script src="parts.js"></script>
    <script type="text/javascript">

        poll or countdown if job in progress
        if(getCookie("inprog") == "yes" && getCookie("jobcomplete") == "no"){
        clearvar = setInterval("countdown()", 1000);
        }
        setInterval( "pollServer()", 3000 );
    </script>

    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>

    
    <input type="hidden" id="logged"/>
    
<!-- This part of the program contacts a parts template that outputs a table containing the info about the job. -->
      
        <div id="status">
            Workcenter:{{>workcenter}}<br/><br/>
            <span id="label">Fetching status...</span>
        </div>

        <progress id="prog"></progress>
        <span id="countdown" class="progresslabel"></span>
        <div id="wrap">
           <table id="parts">
           

    <th>Hour  </th><th>Part #</th><th>Planned</th><th>Actual</th><th>earnedHours</th><th>Status</th><th WIDTH="350">Reason</th>
    {{#each parts}}

      <tr><td>STUB</td> <td>{{partnumber}} </td> <td>{{quantity}} </td><td>{{incomingCycles}}</td><td>{{earnedHours}} </td><td>STUB </td><td>STUB</td></tr> Test of time {{calculateTime}}
    {{/each}}
   
  
  </table>
                    
                
                 

           
            

          <br/>
            Last idle period: --<br/>
            Last changeover time: --
        </div>
   
</body>
</template>

















<!-- <template name="job">
  
  <!--<table width="90%">-->
    <!--<tr><th>Index Key</th><th>Press Number</th><th>Auto Status</th><th>Cycle Time Stamp</th></tr>-->
  <!--{{#each incomingCycles}}-->
    <!--<tr><td>{{IndexKey}}</td><td>{{PressNumber}}</td><td>{{AutoStatus}}</td> <td>{{CycleTimeStamp}}</td></tr>-->
  <!--{{/each}}-->
  <!--</table>-->
<!-- <body>
 <div id="status">
        Workcenter:{{>workcenter}}<br/><br/>
        <span id="label">Fetching status...</span>
    </div>

    <progress id="prog"></progress>
    <span id="countdown" class="progresslabel"></span>
    <div id="wrap">
           <table id="parts">
           

    <th>Hour  </th><th>Part #</th><th>Catalog</th><th>Planned</th><th>Actual</th><th WIDTH="350">Reason</th>
    {{#each parts}}

      <tr><td>{{quantity}}</td> <td>{{partnumber}} </td> <td>{{Catalog}} </td><td>{{Planned}} </td><td>{{Actual}} </td></tr>
    {{/each}}
   
  
  </table>

      <br/>
            Last idle period: --<br/>
            Last changeover time: --
        </div>
</body>
</template>
 --> 