<template name="controller">
<!-- Basically I need to show buttons that change colors in a similar fashion to the job status pge  -->
<!-- conver this to buttons changing colors -->
 {{#if statusgreen}}
     <div id="statusgreen"> 

        Workcenter:{{>workcenter}}<br/><br/>
        <span id="label">At or above cycle</span>
     </div>
  
     {{else}}
{{#if statuswhite}}
     <div id="statuswhite"> 

        Workcenter:{{>workcenter}}<br/><br/>
        <span id="label">Idle/Not running</span>
     </div>
 {{else}}
 {{#if statusyellow}}
     <div id="statusyellow" > 

        Workcenter:{{>workcenter}}<br/><br/>
        <span id="label">Below cycle</span>
     </div>
     

 
     {{/if}}
     {{/if}}
    {{/if}}
</template>