<template name="input">
 <head>
<title>new job</title>
</head>

<body>

<!-- {{>single}} -->


  <div id="right">
    <div id="wrap">
    
  
      <form name="myForm" onsubmit="return validateForm()" method="post" class="workcenterSelection">
      <table>
      
        <tr>
        <td colspan="2"><span id="project-id"></span>
        </td>
        </tr>
        <tr>
        <td>Start time:</td> <td> 
          <div class="form-group">
            <label for="start"></label>
            <input type="start" name="start" required class="form-control" id="start" placeholder="Enter the start time (YYYY-MM-DD)">
          </div>
          </td>
        </tr>
        <tr>
        <td>End time:</td> <td> 
          <div class="form-group">
            <label for="end"></label>
            <input type="end" name="end" required class="form-control" id="end" placeholder="Enter the end time (YYYY-MM-DD)">
          </div>
          </td>
        </tr>
        <tr>
        <td>Press number:</td> <td> 
          <div class="form-group">
            <label for="press"></label>
            <input type="press" name="press" required class="form-control" id="press" placeholder="Enter the press number">
          </div>
          </td>
        </tr>
             
          
        
      </table>
      
       <button type="submit" class="btn btn-default" onclick="alert('Make sure the machine is in Automatic before continuing')">Select</button>
      <!-- <input type="submit" value="Submit" class="btn btn-primary"/> -->

      </form>
<!-- <button type="submit" class="btn btn-default" onclick="alert('Make sure the machine is in Automatic before continuing');">Enter</button> 

 -->
<!-- <input type='button' onclick='checkForm()' value='Enter' /> -->

    </div>
  </div>
</body>




</template>