<template name="main">
  <div class="posts">
    <head>
    
    <link href="style.css" rel="stylesheet" type="text/css">

</head>


  
<!-- <input type="hidden" id="logged"/> -->

{{>jobstatus25}}{{>jobstatus24}}{{>jobstatus23}}<br/><br/>

 <span id="lefttab">{{>jobstatus22}}{{>jobstatus21}} </span><br/><br/>

 {{>jobstatus20}}{{>jobstatus19}}{{>jobstatus18}}&emsp;&emsp;{{>jobstatus17}}{{>jobstatus16}}{{>jobstatus7}} {{>jobstatus14}}&emsp;&emsp;{{>jobstatus13}}{{>jobstatus12}}{{>jobstatus11}}{{>jobstatus10}}<br/><br/>

 {{>jobstatus9}}{{>jobstatus8}}{{>jobstatus7}}&emsp;&emsp;{{>jobstatus6}}{{>jobstatus3}}{{>jobstatus5}}<span id="tabspace">{{>jobstatus4}} {{>jobstatus4}}  {{>jobstatus2}} {{>jobstatus1}}</span>

    
    
     <!-- {{>jobstatus15}} -->
    


       
</div>
   
</template>