<template name="main">
  <div class="posts">
    <head>
    
    <link href="style.css" rel="stylesheet" type="text/css">

</head>


  
<!-- <input type="hidden" id="logged"/> -->

   
    {{>jobstatus1}}{{>jobstatus2}}{{>jobstatus3}}{{>jobstatus4}}{{>jobstatus5}} <br/><br/>
     {{>jobstatus6}}{{>jobstatus7}}{{>jobstatus8}}{{>jobstatus9}}{{>jobstatus10}}<br/><br/>
     {{>jobstatus11}}{{>jobstatus12}}{{>jobstatus13}}{{>jobstatus14}}{{>jobstatus15}}<br/><br/>
     {{>jobstatus16}}{{>jobstatus17}}{{>jobstatus18}}{{>jobstatus19}}{{>jobstatus20}}<br/><br/>
     {{>jobstatus21}}{{>jobstatus22}}{{>jobstatus23}}{{>jobstatus24}}{{>jobstatus25}}<br/><br/>


       
</div>
   
</template>