<template name="main">
  <div class="posts">
    <head>
    
    <link href="style.css" rel="stylesheet" type="text/css">

</head>


  &emsp;&emsp;&emsp;{{>jobstatus32}}&emsp;&emsp;{{>jobstatus31}}<br/><br/><br/><br/><br/>


 &emsp;&emsp;&emsp;<span id="leftdoubletab" ></span>{{>jobstatus30}}&emsp;&emsp;{{>jobstatus29}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{>jobstatus28}}&emsp;&emsp;{{>jobstatus27}}&emsp;&emsp;{{>jobstatus26}}<br/><br/> 


 &emsp;&emsp;&emsp;{{>jobstatus25}}&emsp;&emsp;{{>jobstatus24}}&emsp;&emsp;{{>jobstatus23}}<br/><br/><br/>

 <span id="lefttab"> </span> {{>jobstatus22}}&emsp;&emsp;{{>jobstatus21}} <br/><br/>

  &emsp;&emsp;&emsp;{{>jobstatus20}}&emsp;&emsp;{{>jobstatus19}}&emsp;&emsp;{{>jobstatus18}}&emsp;&emsp;&emsp;&emsp;{{>jobstatus17}}&emsp;&emsp;{{>jobstatus16}}&emsp;&emsp;{{>jobstatus15}}&emsp;&emsp; {{>jobstatus14}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{>jobstatus13}}&emsp;&emsp;{{>jobstatus12}}&emsp;&emsp;{{>jobstatus11}}&emsp;&emsp;{{>jobstatus10}}<br/><br/><br/><br/>
 &emsp;&emsp;&emsp;{{>jobstatus9}}&emsp;&emsp;{{>jobstatus8}}&emsp;&emsp;{{>jobstatus7}}&emsp;&emsp;&emsp;&emsp;{{>jobstatus6}}&emsp;&emsp;{{>jobstatus3}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{>jobstatus5}}<span id="tabspace"></span>&emsp;&emsp;{{>jobstatus4}}&emsp;&emsp; {{>jobstatus4}} &emsp;&emsp; {{>jobstatus2}}&emsp;&emsp; {{>jobstatus1}} <br/><br/><br/>
<span class="right"> </span> <div class="circleBase typer right"></div>
    
     <!-- add a circle at the bottom near 5th press from left -->
    


       
</div>
   
</template>