<template name="output">
<head>
    
    <!-- <script src="parts.js"></script>-->
   
</head>

        <div id="wrap"> 
       
    <table class="parts" width ="3000" cellpadding="0" border="0" align="center" cellspacing="0">
      
    
      
      <!-- <tr><td></td> <td></td> <td> </td><td></td><td>  </td>  <td> {{planneds}} </td><td>{{incomingcycles}}</td><td ></td></tr> -->
     
     Date <br> 
     {{#each actual}}        
      {{timestamp}} &nbsp;
        {{/each}} 
        <br>  
    Incomingcycles <br> 
     {{#each actual}}        
      {{incomingcycles}} &nbsp;
        {{/each}} 
        <br>   
      Planned  <br>          
      {{#each planned}}        
       {{planneds}}&nbsp;
       {{/each}}
        <br>   
      Earned hours <br>          
      {{#each earnedhours}}        
       {{earnedhour}}&nbsp;
       {{/each}}
     
      
      

   </table>
   </div>
   
  
      




</template>