<template name="jobstatus23">
<!-- change the div to a button-->

 {{#if statusgreen}}
     <button id="statusgreen" class="rectangle"> 

        <span id="label">Workcenter: 3101H </span><br/><br/>
        <span id="label">At or above cycle</span>
     </button>
  
    
 {{else}}
 {{#if statusyellow}}
     <button id="statusyellow" class="rectangle"> 

        <span id="label"> Workcenter: 3101H </span><br/><br/>
        <span id="label">Below cycle</span>
     </button>
      {{else}}

     <button id="statuswhite" class="rectangle"> 

       <span id="label"> Workcenter: 3101H </span><br/><br/>
        <span id="label">Idle/Not running</span>
     </button>

 
     {{/if}}
    {{/if}}
</template>