<template name="main">
  <div class="posts">
    <head>
    
    <script src="parts.js"></script>
    

    <link href="style.css" rel="stylesheet" type="text/css">

</head>


  
<!-- <input type="hidden" id="logged"/> -->

   
    {{>jobstatus}}
        {{>countdownbar}}
</div>
    <!-- <progress id="prog"></progress>
    <span id="countdown" class="progresslabel"></span> -->
    <div id="wrap">
        <table id="shiftlog" class="display">
            <tr>
                <th>Hour</th><th>Part #/ Catalog #</th><th>Planned (hourly/cum)</th><th>Actual (hourly/cum)</th><th>Earned hours</th><th>status</th><th>reason</th>
            </tr>
        </table>
        <br/>
        Last idle period: --<br/>
        Last changeover time: --
   
    </div> 


  
</template>