<template name="main">
  <div class="posts">
    <head>
    
    <script src="parts.js"></script>
    

    <link href="style.css" rel="stylesheet" type="text/css">

</head>


  
<!-- <input type="hidden" id="logged"/> -->

   
    {{>jobstatus}}
        {{>countdownbar}}
</div>
    <!-- <progress id="prog"></progress>
    <span id="countdown" class="progresslabel"></span> -->
    <div id="wrap">
        <table id="shiftlog" class="display">
            <tr>
                <th>Hour</th><th>Part #/ Catalog #</th><th>Planned (hourly/cum)</th><th>Actual (hourly/cum)</th><th>Earned hours</th><th>status</th><th>reason</th>
            </tr>
        </table>
        <br/>
        Last idle period: --<br/>
        Last changeover time: --
   
    </div> 

<div id="left"> <!--start of div -->
   
 <script type = "text/javascript">
 $(".nav1").on("click", function(event){
     if(confirm("Page Sent")){
        return true;
     } else {
         event.preventDefault();
        return false;
     }
 });


 </script> 




   <a href="{{pathFor 'main'}}"><input id="mybutton" type="image" name="submit" value="submit" src="http://10.87.38.162/web/logo.jpg" width=100%></a>
        
        <a class="nav1" href="javascript:super()">page super</a>
      
        <a class="nav1" href="javascript:techalert()">page tech</a>
        <a class="nav1" href="javascript:page('mh')">page mat HDL</a>
        <a class="nav" href="{{pathFor 'table'}}">start new job</a>
        <a class="nav" href="{{pathFor 'links'}}">links</a>
    </div>
  
</template>