<template name="main">
  <div class="posts">
    <head>
    <title>Index</title>
    <script src="parts.js"></script>
    <script type="text/javascript">

        poll or countdown if job in progress
        if(getCookie("inprog") == "yes" && getCookie("jobcomplete") == "no"){
        clearvar = setInterval("countdown()", 1000);
        }
        setInterval( "pollServer()", 3000 );
    </script>

    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
  
<input type="hidden" id="logged"/>

  
    <div id="status">
        Workcenter:{{>workcenter}}<br/><br/>
        <span id="label">Fetching status...</span>
    </div>

    <progress id="prog"></progress>
    <span id="countdown" class="progresslabel"></span>
    <div id="wrap">
        <table id="shiftlog" class="display">
            <tr>
                <th>Hour</th><th>Part #/ Catalog #</th><th>Planned (hourly/cum)</th><th>Actual (hourly/cum)</th><th>Earned hours</th><th>status</th><th>reason</th>
            </tr>
        </table>
        <br/>
        Last idle period: --<br/>
        Last changeover time: --
  
    </div>

</body>
  </div>
</template>